<h3><%= way %> way</h3>

<%= form_for member_details_form, as: :member_details, url: action_url, method: :patch do |f| %>
  <%= f.fields_for :user do |fn| %>
    <%= text_input(fn, :login) %>
    <%= text_input(fn, :email) %>
  <% end %>

  <%= f.fields_for :user_profile do |fn| %>
    <%= text_input(fn, :full_name) %>
  <% end %>
<% end %>
